.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

audio {
    width: 300px;
}

.song-title {
    font-size: 1.5em;
    margin-top: 10px;
    color: rgb(191, 191, 191);
}