.separador {
    color: #a3a3a3;
}

.copyright {
    color: white;
}

ul {
    text-decoration: none;
    display: flex;
    margin: 5px 0px 5px 0px !important;
}

li {
    list-style: none;
    margin-right: 20px;
    color: white;
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    cursor: pointer;
    font-weight: 400 !important;
}

.nav-link:hover {
    color: var(--golden);
    transform: scale(1.2);
    transition: transform 0.5s;
}

.nav-link.active {
    color: var(--golden);
    font-weight: bold;
}

.fa-brands {
    cursor: pointer;
}