<div class="container">

    <!-- Como Vivir una Vida Mejor -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-5 d-flex justify-content-center">
            <img src="assets/CVUVM.jpg" alt="Libro Como Vivir una Vida Mejor" class="image">
        </div>
        <div class="col-12 col-md-7">
            <p class="text">
                En <i><strong>Cómo vivir una vida mejor</strong></i>, Germán Arciniegas nos invita a 
                un viaje de autodescubrimiento y transformación. Este libro, escrito con una profunda 
                pasión por entender la vida y sus misterios, no es solo un conjunto de ideas, sino 
                una guía práctica y accesible para quienes buscan vivir con mayor significado y 
                plenitud.<br><br>

                A través de una narrativa cercana y auténtica, Germán comparte las lecciones que
                él mismo aprendió después de cuestionarse si el éxito tal como lo define la sociedad
                realmente conduce a una vida feliz. Desde los principios fundamentales como el
                equilibrio, la mentalidad positiva y la importancia de los buenos hábitos, hasta la
                manera en que podemos aplicar estos conceptos en áreas clave de nuestra vida, el
                autor nos ofrece herramientas para construir una existencia más rica y consciente.<br><br>

                Este libro es más que una obra escrita; es el resultado de años de reflexión, estudio
                y experiencia personal, condensado en un mensaje claro y transformador. Con una
                mezcla de sabiduría y humildad, Germán logra conectar con sus lectores, inspirándolos
                a dar pequeños pasos hacia grandes cambios. Perfecto para quienes buscan no solo
                respuestas, sino también un mapa para vivir con propósito y alegría.<br><br>

                Las enseñanzas de este libro han sido compartidas por el autor en presentaciones que
                han llegado a impactar a más de 20,000 personas.
            </p>
            <div class="col-12 col-md-6 mb-5">
                <div class="dropdown mt-4">
                    <button class="btn btn-primary" (click)="toggleDropdown()">
                        Lugares donde comprar este libro <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Información Pendiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Hojas del libro de mi vida -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-4 d-flex justify-content-center">
            <img src="assets/HDLDMV.jpg" alt="Libro Hojas del Libro de mi Vida" class="image2">
        </div>
        <div class="col-12 col-md-7">
            <p class="text">
                En <i><strong>Hojas del libro de mi vida</strong></i>, Germán nos invita a recorrer 
                las memorias de su vida a través de respuestas sinceras a preguntas que podríamos hacernos 
                todos. Con una combinación de anécdotas desde su niñez hasta su vida adulta, Germán 
                comparte con franqueza y autenticidad momentos clave que han marcado su camino. <br><br>
                
                Cada historia es una pieza en el rompecabezas de su vida, acompañada de fotografías que 
                permiten al lector experimentar de cerca esos recuerdos. Empresario, profesor y 
                conferencista, Germán ha trabajado para gigantes como Apple y Oracle, y ha dedicado buena 
                parte de su vida al crecimiento personal. Autor de Cómo vivir una vida mejor, sus charlas 
                sobre el tema han inspirado a más de 20,000 personas.
            </p>
            <div class="col-12 col-md-6 mb-5">
                <div class="dropdown mt-4">
                    <button class="btn btn-primary" (click)="toggleDropdown()">
                        Lugares donde comprar este libro <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Información Pendiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Notas de la sinfonía de mi vida -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-4 d-flex justify-content-center">
            <!-- <img src="assets/CVUVM.jpg" alt="Libro Notas de la Sinfonía de mi Vida" class="image2"> -->
             <h2 class="d-flex justify-content-center align-items-center" 
                 style="color: var(--golden)">
                 Pending image...
            </h2>
        </div>
        <div class="col-12 col-md-7">
            <p class="text">
                <i><strong>Notas de la sinfonía de mi vida</strong></i> es mucho más que una 
                colección de canciones; es una ventana al alma de su autor, un compendio de melodías 
                e historias que resuenan con el eco de cinco décadas de vida. A través de cerca de 80 
                composiciones, esta obra se convierte en un legado destinado a trascender el tiempo, 
                llevando a sus descendientes y lectores a descubrir quién fue, en esencia, su 
                creador. <br><br>

                Cada canción es un testimonio íntimo, muchas de ellas inspiradas por el amor profundo 
                hacia su esposa Beatriz, su musa de casi cincuenta años, y otras nacidas de momentos 
                compartidos en familia, rodeados de música y risas. El libro no solo narra su proceso 
                creativo, en el que las notas parecen emerger como por arte de magia o tras largas 
                sesiones de exploración, sino que también rinde homenaje a las personas y experiencias 
                que moldearon su vida musical. Desde su infancia, cantando en armonía con sus 
                hermanos, hasta las cálidas reuniones familiares junto a una chimenea, Notas de la 
                sinfonía de mi vida captura la esencia de una existencia en la que la música no es 
                solo arte, sino un diálogo con la vida misma. Este libro invita al lector a escuchar 
                esas canciones, a sentir las emociones que las inspiraron, y a dejarse llevar por una 
                sinfonía que trasciende las palabras.
            </p>
            <div class="col-12 col-md-6 mb-5">
                <div class="dropdown mt-4">
                    <button class="btn btn-primary" (click)="toggleDropdown()">
                        Lugares donde comprar este libro <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Información Pendiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>