.container {
    margin-top: 80px;
}

.text {
    color: white;
    font-size: 1rem;
    line-height: 1.3;
    hyphens: auto;
}

.image {
    width: 65%;
    height: 450px;
    object-fit: contain;
    border-radius: 15px;
}

.image2 {
    width: 65%;
    height: 450px;
    object-fit: contain;
    border: 1px solid #2c2c2c;
    border-radius: 15px;
}

.separador {
    border-top: 2px solid var(--golden);
    width: 100px;
}

@media (max-width: 500px) {
    .image {
        width: 66%;
        height: 100%;
    }

    .image2 {
        width: 66%;
        height: 100%;
    }
}