<div class="container">

    <!-- Como Vivir una Vida Mejor -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-5 d-flex justify-content-center">
            <img src="assets/CVUVM.webp" alt="Libro Como Vivir una Vida Mejor" class="image">
        </div>
        <div class="col-12 col-md-7">
            <p class="text" [innerHTML]="'CVUVM_DESC' | translate"></p>
            <div class="mb-5">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ "PLACES_TO_BUY" | translate }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Pending...</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Hojas del libro de mi vida -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-4 d-flex justify-content-center">
            <img src="assets/HDLDMV.webp" alt="Libro Hojas del Libro de mi Vida" class="image2">
        </div>
        <div class="col-12 col-md-7">
            <p class="text" [innerHTML]="'HDLDMV_DESC' | translate"></p>
            <div class="mb-5">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ "PLACES_TO_BUY" | translate }}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="https://a.co/d/gEp10Sd" target="_blank">
                                Amazon
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Notas de la sinfonía de mi vida -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-4 d-flex justify-content-center">
            <!-- <img src="assets/CVUVM.jpg" alt="Libro Notas de la Sinfonía de mi Vida" class="image2"> -->
            <h2 class="d-flex justify-content-center align-items-center" style="color: var(--golden)">
                {{ "PENDING_IMAGE" | translate }}
            </h2>
        </div>
        <div class="col-12 col-md-7">
            <p class="text" [innerHTML]="'NDLSDMV_DESC' | translate"></p>
            <div class="mb-5">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ "PLACES_TO_BUY" | translate }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item">Pending...</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>