<div class="container">

    <!-- Como Vivir una Vida Mejor -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-5 d-flex justify-content-center">
            <img src="assets/CVUVM.jpg" alt="Libro Como Vivir una Vida Mejor" class="image">
        </div>
        <div class="col-12 col-md-7">
            <p class="text">
                En “Cómo vivir una vida mejor”, Germán Arciniegas nos invita a un viaje de
                autodescubrimiento y transformación. Este libro, escrito con una profunda pasión por
                entender la vida y sus misterios, no es solo un conjunto de ideas, sino una guía
                práctica y accesible para quienes buscan vivir con mayor significado y plenitud.<br><br>

                A través de una narrativa cercana y auténtica, Germán comparte las lecciones que
                él mismo aprendió después de cuestionarse si el éxito tal como lo define la sociedad
                realmente conduce a una vida feliz. Desde los principios fundamentales como el
                equilibrio, la mentalidad positiva y la importancia de los buenos hábitos, hasta la
                manera en que podemos aplicar estos conceptos en áreas clave de nuestra vida, el
                autor nos ofrece herramientas para construir una existencia más rica y consciente.<br><br>

                Este libro es más que una obra escrita; es el resultado de años de reflexión, estudio
                y experiencia personal, condensado en un mensaje claro y transformador. Con una
                mezcla de sabiduría y humildad, Germán logra conectar con sus lectores, inspirándolos
                a dar pequeños pasos hacia grandes cambios. Perfecto para quienes buscan no solo
                respuestas, sino también un mapa para vivir con propósito y alegría.<br><br>

                Las enseñanzas de este libro han sido compartidas por el autor en presentaciones que
                han llegado a impactar a más de 20,000 personas.
            </p>
            <div class="col-12 col-md-6 mb-5">
                <div class="dropdown mt-4">
                    <button class="btn btn-primary" (click)="toggleDropdown()">
                        Lugares donde comprar este libro <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Información Pendiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Hojas del libro de mi vida -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mb-4 d-flex justify-content-center">
            <img src="assets/HDLDMV.jpg" alt="Libro Hojas del Libro de mi Vida" class="image2">
        </div>
        <div class="col-12 col-md-7">
            <p class="text">
                “Hojas del libro de mi vida” es un emotivo viaje a través de recuerdos, historias y 
                reflexiones personales que el autor ha querido preservar y compartir con sus seres 
                queridos y con las generaciones futuras. Este libro nació como parte de un proyecto 
                único, inspirado por un regalo lleno de significado: responder preguntas semanales 
                que, al final de un año, se transformaron en una colección de relatos entrañables.<br><br>

                En estas páginas, el autor reflexiona sobre la importancia de recordar, de conectar 
                con nuestras raíces y de reconocer cómo el pasado moldea lo que somos hoy. Con un 
                toque nostálgico y romántico, evoca momentos de su vida y de sus antepasados, 
                subrayando el valor de las historias y enseñanzas que nos heredan. <br><br>
                
                Este libro no solo es un tributo al autor mismo, sino un puente entre generaciones, 
                un legado que invita a reflexionar sobre lo que dejamos atrás y cómo vivimos el 
                presente. Como sus versos lo expresan: “Hojas del libro de mi vida, que no tiene 
                principio ni fin”. Una obra que, sin duda, resonará con cualquiera que desee mantener 
                viva la memoria de sus propios caminos recorridos.
            </p>
            <div class="col-12 col-md-6 mb-5">
                <div class="dropdown mt-4">
                    <button class="btn btn-primary" (click)="toggleDropdown()">
                        Lugares donde comprar este libro <i class="fas fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Información Pendiente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 d-flex justify-content-center">
        <div class="separador"></div>
    </div>
</div>