<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <img class="GA-Photo" src="/assets/GA.png" alt="Foto Germán Arciniegas">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="heading">Biografía</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <p class="biography">
                Germán Arciniegas Price es una persona profundamente apasionada por la vida, la 
                creatividad y el aprendizaje constante. Más allá de su impresionante trayectoria 
                profesional, Germán se define por su calidez humana, su espíritu curioso y su amor 
                por compartir conocimiento e inspiración con quienes lo rodean. Como compositor y 
                escritor, su sensibilidad artística lo lleva a plasmar emociones y reflexiones 
                profundas en su música y palabras, mientras que su faceta como mentor y profesor 
                refleja su genuino interés por guiar a otros en su camino hacia el éxito y la 
                realización personal. <br><br>
            </p>
        </div>
        <div class="col-12 col-md-6">
            <p class="biography">
                Apasionado por la cultura y el conocimiento, Germán ha sido anfitrión de tertulias 
                culturales, donde su casa se convertía en un espacio de enriquecimiento intelectual y 
                emocional, un reflejo de su deseo de fomentar conexiones auténticas y conversaciones 
                significativas. Su dedicación a su familia y su amor por sus hijos y nietos son un 
                testimonio de los valores que rigen su vida: la importancia de las relaciones, la 
                generosidad y el disfrute de cada momento. Germán es, en esencia, un soñador y un 
                hacedor, alguien que combina experiencia y humanidad para dejar una huella duradera en 
                quienes tienen la fortuna de cruzarse en su camino.
            </p>
        </div>
    </div>
</div>