.mt-100 {
    margin-top: 100px;
}

.heading {
    color: var(--golden);
    font-weight: 500;
}

.text {
    color: #EFEFEF;
    line-height: 1.3rem;
    font-size: 1rem;
    hyphens: auto;
}

.container-header {
    background-color: #4a0c0c;
    padding: 15px 15px 15px 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.music-player-container {
    color: #fff;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.album-cover {
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.album-info h2 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 600;
}

.artist-name {
    color: #f8b7b2;
    font-weight: 500;
}

.music-controls {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress-input {
    accent-color: white;
}

.play-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.main-button {
    cursor: pointer;
}

.container-track-list {
    background-color: #662C2A;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 200px;
    overflow: hidden;
    transition: height 0.4s ease;
}

.container-track-list.dejame {
    height: 55px;
}

.container-track-list.expanded {
    height: 400px;
}

.scrollable-content {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: content-box;
    scrollbar-width: thin;
    scrollbar-color: #7B3F3C #662C2A;
}

.scrollable-content::-webkit-scrollbar {
    width: 6px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #7B3F3C;
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #f8b7b2;
}

.track-list {
    background-color: #662C2A;
    list-style: none;
    padding: 0;
    margin: 0;
}

.track {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex-wrap: wrap;
}

.track:hover {
    background-color: #7b3f3c;
    transform: translateX(5px);
}

.track.active {
    background-color: #7b3f3c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: bold;
}

.track-number {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8b7b2;
    font-weight: 500;
    font-size: 0.9rem;
}

.track-info {
    flex: 1;
    overflow: hidden;
    margin-left: 10px;
    white-space: normal;
    word-wrap: break-word;
}

.track-title {
    font-weight: 500;
    font-size: 0.9rem;
    max-width: 100%;
    line-height: 1.2;
    display: block;
}

.track-artist {
    margin: 0;
    font-size: 0.7rem;
    font-weight: 500;
    color: #f8b7b2;
}

.track-duration {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-right: 10px;
    font-size: 0.9rem;
    flex-shrink: 0;
}

.lyrics-container {
    width: 100%;
    margin-top: 10px;
}

.lyrics {
    white-space: pre-wrap;
    font-size: 0.85rem;
    color: #f8b7b2;
    padding: 10px;
    background-color: #4a0c0c;
    border-radius: 5px;
}

p {
    margin-bottom: 0;
}

.fa-download {
    font-size: 0.8rem
}

.fa-download:hover {
    transform: scale(1.2);
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.separador {
    border-top: 2px solid var(--golden);
    width: 100px;
}

.copyright {
    color: rgb(128, 128, 128);
    font-size: 0.8rem;
}

.sign {
    font-size: 1rem;
}

.fa-brands {
    font-size: 1.3rem;
    cursor: pointer;
    margin-right: 10px;
}

.fa-brands:hover {
    transform: scale(1.2);
}

.fa-spotify {
    color: #1DB954;
}

.fa-youtube {
    color: #FF0000;
}

.fa-deezer {
    color: #a138fe;
}

.fa-bandcamp {
    color: #629aa9;
}

.fa-amazon {
    color: #a8a8a8;
}

.fa-apple {
    color: #707070;
    font-size: 1.4rem;
}