<div class="container mt-100">

    <!-- Momentos -->
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="heading">
                Momentos
            </h2>
            <p class="text" [innerHTML]="'MOMENTOS_DESC' | translate"></p>
            <div class="botones-externos mt-3">
                <!-- External link to Spotify -->
                <a href="https://open.spotify.com/album/2MNNo2kY4KAS6lZ1ZfCsH8?si=fmCmXChFROqKl-v79OeDFQ"
                   target="_blank">
                    <i class="fa-brands fa-spotify"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_SPOTIFY">
                    </i>
                </a>

                <!-- External link to Youtube Music -->
                <a href="https://www.youtube.com/playlist?list=OLAK5uy_n5y2q1X7DU0zVE0mxDGEwaYSpD7ENupwo"
                   target="_blank">
                    <i class="fa-brands fa-youtube"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_YOUTUBE">
                    </i>
                </a>

                <!-- External link to Deezer -->
                <a href="https://www.deezer.com/us/album/46398712"
                   target="_blank">
                    <i class="fa-brands fa-deezer"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_DEEZER">
                    </i>
                </a>

                <!-- External link to Bandcamp -->
                <a href="https://germanarciniegas.bandcamp.com/album/momentos"
                   target="_blank">
                    <i class="fa-brands fa-bandcamp"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_BANDCAMP">
                    </i>
                </a>

                <!-- External link to Amazon Music -->
                <a href="https://www.amazon.com/Momentos/dp/B075HFC9PR"
                   target="_blank">
                    <i class="fa-brands fa-amazon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_AMAZON">
                    </i>
                </a>

                <!-- External link to Apple Music -->
                <a href="https://music.apple.com/us/album/momentos/1271835085"
                   target="_blank">
                    <i class="fa-brands fa-apple"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_APPLE">
                    </i>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

            <!-- Locked message -->
            <div *ngIf="momentosPlayer.isLocked" class="locked-message">
                <p>
                    {{ "LOCKED_INFO" | translate }} 
                    <i class="fa-solid fa-stop" style="margin-left: 7px; color: white;"></i>
                </p>
            </div>


            <div *ngIf="!momentosPlayer.isLocked" class="music-player-container" >

                <!-- Heading, about the disk and Player Controls -->
                <div class="container-header">
                    <div class="col-3">
                        <img
                            src="assets/music/momentos/Cover.webp"
                            alt="Momentos Cover"
                            class="album-cover"
                        />
                    </div>
                    <div class="col-9 pe-4">
                        <div class="album-info">
                            <h2 class="album-title">Momentos</h2>
                            <p class="artist-name">German Arciniegas</p>
                        </div>

                        <!-- Player Controls -->
                        <div class="music-controls">
                            <div class="progress-bar">
                                <input
                                    #progressInput
                                    type="range"
                                    class="progress-input"
                                    [value]="audio.currentTime"
                                    [max]="audio.duration"
                                    (input)="updateCurrentTime($event)"
                                />
                            </div>
                            <div class="play-controls mt-2">
                                <span class="current-time">{{ currentTime }}</span>
                                <div class="control-buttons">
                                    <i  *ngIf="this.showButtons"
                                        class="main-button fa-solid"
                                        style="margin-right: 30px;"
                                        [ngClass]="this.momentosPlayer.playing ? 'fa-pause' : 'fa-play'"
                                        (click)="togglePlayPause('momentos')"
                                        data-bs-toggle="tooltip"
                                        
                                        [attr.data-bs-title]="tooltips.TOOLTIP_RESUME"   
                                    ></i>
                                    <i  *ngIf="this.showButtons"
                                        class="fa-solid fa-stop cursor"
                                        (click)="playTrack('momentos')"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        [attr.data-bs-title]="tooltips.TOOLTIP_STOP"
                                    ></i>
                                </div>
                                <span class="total-time">
                                    {{ 
                                        momentosPlayer.selectedTrack?.duration == null ? 
                                        ('SONG_DURATION' | translate) : 
                                        momentosPlayer.selectedTrack?.duration
                                    }}
                                </span>
                            </div>
                            <div class="nombre-cancion text-center mt-2" *ngIf="momentosPlayer.playing">
                                {{ "CURRENT_SONG" | translate }} <i class="fa-solid fa-arrow-right ps-2 pe-2"></i> 
                                {{ momentosPlayer.selectedTrack?.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Songs List -->
                <div
                    class="container-track-list p-2"
                    [ngClass]="{ 'expanded': momentosPlayer.expandContainer }"
                >
                    <div class="scrollable-content">
                        <ul class="track-list">
                            <li
                                *ngFor="let track of momentosTracks; let i = index"
                                class="track"
                                (click)="playTrack('momentos', track)"
                                [ngClass]="{'active': momentosPlayer.selectedTrack === track}"
                            >
                                <span class="track-number">{{ i + 1 }}</span>
                                <div class="track-info">
                                    <p class="track-title">{{ track.title }}</p>
                                </div>
                                <span class="track-duration">
                                    {{ track.duration || ('LOADING_SONG' | translate) }}
                                </span>
                                <span 
                                    class="download mt-1"
                                    (click)="downloadTrack(track)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.data-bs-title]="tooltips.TOOLTIP_DOWNLOAD"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </span>

                                <!-- Dynamic container to show the track lyrics -->
                                <div *ngIf="momentosPlayer.selectedTrack === track" class="lyrics-container">
                                    <p class="lyrics">{{ track.lyrics }}</p>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright sign -->
                <div class="col-12 mt-1">
                    <p class="copyright">
                        <span class="sign">© </span> 
                        {{ "COPYRIGHT" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Vivir -->
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2 class="heading">
                Vivir
            </h2>
            <p class="text" [innerHTML]="'VIVIR_DESC' | translate"></p>
            <div class="botones-externos mt-3">
                <!-- External link to Spotify -->
                <a href="https://open.spotify.com/intl-es/album/5MPDSmir6QUkF8D4TadoiU?si=Cp8gj8wTQRmDcqBp_MF_Xg"
                   target="_blank">
                    <i class="fa-brands fa-spotify"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_SPOTIFY">
                    </i>
                </a>

                <!-- External link to Youtube Music -->
                <a href="https://www.youtube.com/playlist?app=desktop&list=OLAK5uy_lo26Zn-b_QKAeLWu35efj8vxe0qTsSEHs"
                   target="_blank">
                    <i class="fa-brands fa-youtube"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_YOUTUBE">
                    </i>
                </a>

                <!-- External link to Deezer -->
                <a href="https://www.deezer.com/mx/album/47125212"
                   target="_blank">
                    <i class="fa-brands fa-deezer"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_DEEZER">
                    </i>
                </a>

                <!-- External link to Bandcamp -->
                <a href="https://germanarciniegas.bandcamp.com/album/vivir"
                   target="_blank">
                    <i class="fa-brands fa-bandcamp"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_BANDCAMP">
                    </i>
                </a>

                <!-- External link to Amazon Music -->
                <a href="https://www.amazon.com/German-Arciniegas/dp/B0756LJJJB"
                   target="_blank">
                    <i class="fa-brands fa-amazon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_AMAZON">
                    </i>
                </a>

                <!-- External link to Apple Music -->
                <a href="https://music.apple.com/us/album/vivir/1276305360"
                   target="_blank">
                    <i class="fa-brands fa-apple"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_APPLE">
                    </i>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

            <!-- Locked message -->
            <div *ngIf="vivirPlayer.isLocked" class="locked-message">
                <p>
                    {{ "LOCKED_INFO" | translate }} 
                    <i class="fa-solid fa-stop" style="margin-left: 7px; color: white;"></i>
                </p>
            </div>

            <div *ngIf="!vivirPlayer.isLocked" class="music-player-container">

                <!-- Heading, about the disk and Player Controls -->
                <div class="container-header">
                    <div class="col-3">
                        <img
                            src="assets/music/vivir/Cover.webp"
                            alt="Vivir Cover"
                            class="album-cover"
                        />
                    </div>
                    <div class="col-9 pe-4">
                        <div class="album-info">
                            <h2 class="album-title">Vivir</h2>
                            <p class="artist-name">German Arciniegas</p>
                        </div>

                        <!-- Player Controls -->
                        <div class="music-controls">
                            <div class="progress-bar">
                                <input
                                    #progressInput
                                    type="range"
                                    class="progress-input"
                                    [value]="audio.currentTime"
                                    [max]="audio.duration"
                                    (input)="updateCurrentTime($event)"
                                />
                            </div>
                            <div class="play-controls mt-2">
                                <span class="current-time">{{ currentTime }}</span>
                                <div class="control-buttons">
                                    <i  *ngIf="this.showButtons"
                                        class="main-button fa-solid"
                                        style="margin-right: 30px;"
                                        [ngClass]="this.vivirPlayer.playing ? 'fa-pause' : 'fa-play'"
                                        (click)="togglePlayPause('vivir')"
                                        data-bs-toggle="tooltip"
                                        
                                        [attr.data-bs-title]="tooltips.TOOLTIP_RESUME"   
                                    ></i>
                                    <i  *ngIf="this.showButtons"
                                        class="fa-solid fa-stop cursor"
                                        (click)="playTrack('vivir')"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        [attr.data-bs-title]="tooltips.TOOLTIP_STOP"
                                    ></i>
                                </div>
                                <span class="total-time">
                                    {{ 
                                        vivirPlayer.selectedTrack?.duration == null ? 
                                        ('SONG_DURATION' | translate) : 
                                        vivirPlayer.selectedTrack?.duration
                                    }}
                                </span>
                            </div>
                            <div class="nombre-cancion text-center" *ngIf="vivirPlayer.playing">
                                {{ "CURRENT_SONG" | translate }} <i class="fa-solid fa-arrow-right ps-2 pe-2"></i> 
                                {{ vivirPlayer.selectedTrack?.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Songs List -->
                <div
                    class="container-track-list p-2"
                    [ngClass]="{ 'expanded': vivirPlayer.expandContainer }"
                >
                    <div class="scrollable-content">
                        <ul class="track-list">
                            <li
                                *ngFor="let track of vivirTracks; let i = index"
                                class="track"
                                (click)="playTrack('vivir', track)"
                                [ngClass]="{'active': vivirPlayer.selectedTrack === track}"
                            >
                                <span class="track-number">{{ i + 1 }}</span>
                                <div class="track-info">
                                    <p class="track-title">{{ track.title }}</p>
                                </div>
                                <span class="track-duration">
                                    {{ track.duration || ('LOADING_SONG' | translate) }}
                                </span>
                                <span 
                                    class="download mt-1"
                                    (click)="downloadTrack(track)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.data-bs-title]="tooltips.TOOLTIP_DOWNLOAD"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </span>

                                <!-- Dynamic container to show the track lyrics -->
                                <div *ngIf="vivirPlayer.selectedTrack === track" class="lyrics-container">
                                    <p class="lyrics">{{ track.lyrics }}</p>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright sign -->
                <div class="col-12 mt-1">
                    <p class="copyright">
                        <span class="sign">© </span> 
                        {{ "COPYRIGHT" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Of Life and Love -->
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2 class="heading">
                Of Life and Love
            </h2>
            <p class="text">
                {{ "OLAL_DESC" | translate }}
            </p>
            <div class="botones-externos mt-3">
                <!-- External link to Spotify -->
                <a href="https://open.spotify.com/intl-es/artist/3iKhJz6FCi9yz4O8ruYAEz"
                   target="_blank">
                    <i class="fa-brands fa-spotify"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_SPOTIFY">
                    </i>
                </a>

                <!-- External link to Youtube Music -->
                <a href="https://music.youtube.com/playlist?list=OLAK5uy_l3EZ7pEeHOzBg0JQ9UIsnEYWUYpRsiD0c"
                   target="_blank">
                    <i class="fa-brands fa-youtube"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_YOUTUBE">
                    </i>
                </a>

                <!-- External link to Deezer -->
                <a href="https://www.deezer.com/mx/album/177315642"
                   target="_blank">
                    <i class="fa-brands fa-deezer"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_DEEZER">
                    </i>
                </a>

                <!-- External link to Bandcamp -->
                <a href="https://germanarciniegas.bandcamp.com/album/of-life-and-love"
                   target="_blank">
                    <i class="fa-brands fa-bandcamp"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_BANDCAMP">
                    </i>
                </a>

                <!-- External link to Amazon Music -->
                <a href="https://www.amazon.com/music/player/albums/B08KHYZ7W3"
                   target="_blank">
                    <i class="fa-brands fa-amazon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_AMAZON">
                    </i>
                </a>

                <!-- External link to Apple Music -->
                <a href="https://music.apple.com/us/album/of-life-and-love/1534245321"
                   target="_blank">
                    <i class="fa-brands fa-apple"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_APPLE">
                    </i>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

            <!-- Locked message -->
            <div *ngIf="olalPlayer.isLocked" class="locked-message">
                <p>
                    {{ "LOCKED_INFO" | translate }} 
                    <i class="fa-solid fa-stop" style="margin-left: 7px; color: white;"></i>
                </p>
            </div>

            <div *ngIf="!olalPlayer.isLocked" class="music-player-container">

                <!-- Heading, about the disk and Player Controls -->
                <div class="container-header">
                    <div class="col-3">
                        <img
                            src="assets/music/olal/Cover.webp"
                            alt="Of Life and Love Cover"
                            class="album-cover"
                        />
                    </div>
                    <div class="col-9 pe-4">
                        <div class="album-info">
                            <h2 class="album-title">Of Life and Love</h2>
                            <p class="artist-name">German Arciniegas</p>
                        </div>

                        <!-- Player Controls -->
                        <div class="music-controls">
                            <div class="progress-bar">
                                <input
                                    #progressInput
                                    type="range"
                                    class="progress-input"
                                    [value]="audio.currentTime"
                                    [max]="audio.duration"
                                    (input)="updateCurrentTime($event)"
                                />
                            </div>
                            <div class="play-controls mt-2">
                                <span class="current-time">{{ currentTime }}</span>
                                <div class="control-buttons">
                                    <i  *ngIf="this.showButtons"
                                        class="main-button fa-solid"
                                        style="margin-right: 30px;"
                                        [ngClass]="this.olalPlayer.playing ? 'fa-pause' : 'fa-play'"
                                        (click)="togglePlayPause('olal')"
                                        data-bs-toggle="tooltip"
                                        
                                        [attr.data-bs-title]="tooltips.TOOLTIP_RESUME"   
                                    ></i>
                                    <i  *ngIf="this.showButtons"
                                        class="fa-solid fa-stop cursor"
                                        (click)="playTrack('olal')"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        [attr.data-bs-title]="tooltips.TOOLTIP_STOP"
                                    ></i>
                                </div>
                                <span class="total-time">
                                    {{ 
                                        olalPlayer.selectedTrack?.duration == null ? 
                                        ('SONG_DURATION' | translate) : 
                                        olalPlayer.selectedTrack?.duration
                                    }}
                                </span>
                            </div>
                            <div class="nombre-cancion text-center" *ngIf="olalPlayer.playing">
                                {{ "CURRENT_SONG" | translate }} <i class="fa-solid fa-arrow-right ps-2 pe-2"></i> 
                                {{ olalPlayer.selectedTrack?.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Songs List -->
                <div
                    class="container-track-list p-2"
                    [ngClass]="{ 'expanded': olalPlayer.expandContainer }"
                >
                    <div class="scrollable-content">
                        <ul class="track-list">
                            <li
                                *ngFor="let track of olalTracks; let i = index"
                                class="track"
                                (click)="playTrack('olal', track)"
                                [ngClass]="{'active': olalPlayer.selectedTrack === track}"
                            >
                                <span class="track-number">{{ i + 1 }}</span>
                                <div class="track-info">
                                    <p class="track-title">{{ track.title }}</p>
                                </div>
                                <span class="track-duration">
                                    {{ track.duration || ('LOADING_SONG' | translate) }}
                                </span>
                                <span 
                                    class="download mt-1"
                                    (click)="downloadTrack(track)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.data-bs-title]="tooltips.TOOLTIP_DOWNLOAD"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </span>

                                <!-- Dynamic container to show the track lyrics -->
                                <div *ngIf="olalPlayer.selectedTrack === track" class="lyrics-container">
                                    <p class="lyrics">{{ track.lyrics }}</p>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright sign -->
                <div class="col-12 mt-1">
                    <p class="copyright">
                        <span class="sign">© </span> 
                        {{ "COPYRIGHT" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Dejame -->
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2 class="heading">
                Déjame
            </h2>
            <p class="text">
                {{ "DEJAME_DESC" | translate }}
            </p>
            <div class="botones-externos mt-3">
                <!-- External link to Spotify -->
                <a href="https://open.spotify.com/intl-es/album/72rM2kgoypCPtdzcx48jp5?si=LgmvQhcPSvir-O4whP4rog"
                   target="_blank">
                    <i class="fa-brands fa-spotify"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_SPOTIFY">
                    </i>
                </a>

                <!-- External link to Youtube Music -->
                <a href="https://music.youtube.com/watch?v=2MVxUDCczdo&si=vmkWM4hk0Sd-kYQt"
                   target="_blank">
                    <i class="fa-brands fa-youtube"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_YOUTUBE">
                    </i>
                </a>

                <!-- External link to Deezer -->
                <!-- <a href="https://www.deezer.com/us/album/46398712"
                   target="_blank">
                    <i class="fa-brands fa-deezer"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_DEEZER">
                    </i>
                </a> -->

                <!-- External link to Bandcamp -->
                <!-- <a href="https://germanarciniegas.bandcamp.com/album/momentos"
                   target="_blank">
                    <i class="fa-brands fa-bandcamp"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_BANDCAMP">
                    </i>
                </a> -->

                <!-- External link to Amazon Music -->
                <a href="https://www.amazon.com/music/player/albums/B0BNSVDX6D"
                   target="_blank">
                    <i class="fa-brands fa-amazon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_AMAZON">
                    </i>
                </a>

                <!-- External link to Apple Music -->
                <a href="https://music.apple.com/us/album/dejame-single/1657819432"
                   target="_blank">
                    <i class="fa-brands fa-apple"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       [attr.data-bs-title]="tooltips.TOOLTIP_APPLE">
                    </i>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

            <!-- Locked message -->
            <div *ngIf="dejamePlayer.isLocked" class="locked-message">
                <p>
                    {{ "LOCKED_INFO" | translate }} 
                    <i class="fa-solid fa-stop" style="margin-left: 7px; color: white;"></i>
                </p>
            </div>

            <div *ngIf="!dejamePlayer.isLocked" class="music-player-container">

                <!-- Heading, about the disk and Player Controls -->
                <div class="container-header">
                    <div class="col-3">
                        <img
                            src="assets/music/dejame/Cover.webp"
                            alt="Dejame Cover"
                            class="album-cover"
                        />
                    </div>
                    <div class="col-9 pe-4">
                        <div class="album-info">
                            <h2 class="album-title">Déjame</h2>
                            <p class="artist-name">German Arciniegas</p>
                        </div>

                        <!-- Player Controls -->
                        <div class="music-controls">
                            <div class="progress-bar">
                                <input
                                    #progressInput
                                    type="range"
                                    class="progress-input"
                                    [value]="audio.currentTime"
                                    [max]="audio.duration"
                                    (input)="updateCurrentTime($event)"
                                />
                            </div>
                            <div class="play-controls mt-2">
                                <span class="current-time">{{ currentTime }}</span>
                                <div class="control-buttons">
                                    <i  *ngIf="this.showButtons"
                                        class="main-button fa-solid"
                                        style="margin-right: 30px;"
                                        [ngClass]="this.dejamePlayer.playing ? 'fa-pause' : 'fa-play'"
                                        (click)="togglePlayPause('dejame')"
                                        data-bs-toggle="tooltip"
                                        
                                        [attr.data-bs-title]="tooltips.TOOLTIP_RESUME"   
                                    ></i>
                                    <i  *ngIf="this.showButtons"
                                        class="fa-solid fa-stop cursor"
                                        (click)="playTrack('dejame')"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        [attr.data-bs-title]="tooltips.TOOLTIP_STOP"
                                    ></i>
                                </div>
                                <span class="total-time">
                                    {{ 
                                        dejamePlayer.selectedTrack?.duration == null ? 
                                        ('SONG_DURATION' | translate) : 
                                        dejamePlayer.selectedTrack?.duration
                                    }}
                                </span>
                            </div>
                            <div class="nombre-cancion text-center" *ngIf="dejamePlayer.playing">
                                {{ "CURRENT_SONG" | translate }} <i class="fa-solid fa-arrow-right ps-2 pe-2"></i> 
                                {{ dejamePlayer.selectedTrack?.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Songs List -->
                <div
                    class="container-track-list dejame p-2"
                    [ngClass]="{ 'expanded': dejamePlayer.expandContainer }"
                >
                    <div class="scrollable-content">
                        <ul class="track-list">
                            <li
                                *ngFor="let track of dejameTrack; let i = index"
                                class="track"
                                (click)="playTrack('dejame', track)"
                                [ngClass]="{'active': dejamePlayer.selectedTrack === track}"
                            >
                                <span class="track-number">{{ i + 1 }}</span>
                                <div class="track-info">
                                    <p class="track-title">{{ track.title }}</p>
                                </div>
                                <span class="track-duration">
                                    {{ track.duration || ('LOADING_SONG' | translate) }}
                                </span>
                                <span 
                                    class="download mt-1"
                                    (click)="downloadTrack(track)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.data-bs-title]="tooltips.TOOLTIP_DOWNLOAD"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </span>

                                <!-- Dynamic container to show the track lyrics -->
                                <div *ngIf="dejamePlayer.selectedTrack === track" class="lyrics-container">
                                    <p class="lyrics">{{ track.lyrics }}</p>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright sign -->
                <div class="col-12 mt-1">
                    <p class="copyright">
                        <span class="sign">© </span> 
                        {{ "COPYRIGHT" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row mt-5 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <h2 class="heading">
                Power of 2 - Duet
            </h2>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br><br>

                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci 
                velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

            <div *ngIf="po2duetPlayer.isLocked" class="locked-message">
                <p>
                    {{ "LOCKED_INFO" | translate }} 
                    <i class="fa-solid fa-stop" style="margin-left: 7px; color: white;"></i>
                </p>
            </div>

            <div *ngIf="!po2duetPlayer.isLocked" class="music-player-container">

                <div class="container-header">
                    <div class="col-3">
                        <img
                            src="assets/music/po2-d/Cover.png"
                            alt="Po2-duet Cover"
                            class="album-cover"
                        />
                    </div>
                    <div class="col-9 pe-4">
                        <div class="album-info">
                            <h2 class="album-title">Power of 2 - Duet</h2>
                            <p class="artist-name">German Arciniegas</p>
                        </div>

                        <div class="music-controls">
                            <div class="progress-bar">
                                <input
                                    #progressInput
                                    type="range"
                                    class="progress-input"
                                    [value]="audio.currentTime"
                                    [max]="audio.duration"
                                    (input)="updateCurrentTime($event)"
                                />
                            </div>
                            <div class="play-controls mt-2">
                                <span class="current-time">{{ currentTime }}</span>
                                <div class="control-buttons">
                                    <i  *ngIf="this.showButtons"
                                        class="main-button fa-solid"
                                        style="margin-right: 30px;"
                                        [ngClass]="this.po2duetPlayer.playing ? 'fa-pause' : 'fa-play'"
                                        (click)="togglePlayPause('po2-d')"
                                        data-bs-toggle="tooltip"
                                        
                                        [attr.data-bs-title]="tooltips.TOOLTIP_RESUME"   
                                    ></i>
                                    <i  *ngIf="this.showButtons"
                                        class="fa-solid fa-stop cursor"
                                        (click)="playTrack('po2-d')"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        [attr.data-bs-title]="tooltips.TOOLTIP_STOP"
                                    ></i>
                                </div>
                                <span class="total-time">
                                    {{ 
                                        po2duetPlayer.selectedTrack?.duration == null ? 
                                        ('SONG_DURATION' | translate) : 
                                        po2duetPlayer.selectedTrack?.duration
                                    }}
                                </span>
                            </div>
                            <div class="nombre-cancion text-center" *ngIf="po2duetPlayer.playing">
                                {{ "CURRENT_SONG" | translate }} <i class="fa-solid fa-arrow-right ps-2 pe-2"></i> 
                                {{ po2duetPlayer.selectedTrack?.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-track-list p-2">
                    <div class="scrollable-content">
                        <ul class="track-list">
                            <li
                                *ngFor="let track of po2duetoTrack; let i = index"
                                class="track"
                                (click)="playTrack('po2-d', track)"
                                [ngClass]="{'active': po2duetPlayer.selectedTrack === track}"
                            >
                                <span class="track-number">{{ i + 1 }}</span>
                                <div class="track-info">
                                    <p class="track-title">{{ track.title }}</p>
                                </div>
                                <span class="track-duration">
                                    {{ track.duration || ('LOADING_SONG' | translate) }}
                                </span>
                                <span 
                                    class="download mt-1"
                                    (click)="downloadTrack(track)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.data-bs-title]="tooltips.TOOLTIP_DOWNLOAD"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </span>        
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 mt-1">
                    <p class="copyright">
                        <span class="sign">© </span> 
                        {{ "COPYRIGHT" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row mt-5 d-flex justify-content-center">
        <div class="separador"></div>
    </div>

    <!-- Other -->
    <div class="row mt-5">

        <div class="col-12 col-md-6">
            <h2 class="heading">
                {{ "OTHER_SONGS_TITLE" | translate }}
            </h2>
            <p class="text" [innerHTML]="'OTHER_SONGS_DESC' | translate"></p>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">

            <div *ngIf="otherPlayer.isLocked" class="locked-message">
                <p>
                    {{ "LOCKED_INFO" | translate }} 
                    <i class="fa-solid fa-stop" style="margin-left: 7px; color: white;"></i>
                </p>
            </div>

            <div *ngIf="!otherPlayer.isLocked" class="music-player-container">

                <!-- Heading, about the disk and Player Controls -->
                <div class="container-header">
                    <div class="col-12 pt-1 ps-2 pe-2">
                        <div class="album-info">
                            <h2 class="album-title">
                                {{ "OTHER_SONGS_PLAYER" | translate }}
                            </h2>
                            <p class="artist-name">German Arciniegas</p>
                        </div>

                        <!-- Player Controls -->
                        <div class="music-controls">
                            <div class="progress-bar">
                                <input
                                    #progressInput
                                    type="range"
                                    class="progress-input"
                                    [value]="audio.currentTime"
                                    [max]="audio.duration"
                                    (input)="updateCurrentTime($event)"
                                />
                            </div>
                            <div class="play-controls mt-2">
                                <span class="current-time">{{ currentTime }}</span>
                                <div class="control-buttons">
                                    <i  *ngIf="this.showButtons"
                                        class="main-button fa-solid"
                                        style="margin-right: 30px;"
                                        [ngClass]="this.otherPlayer.playing ? 'fa-pause' : 'fa-play'"
                                        (click)="togglePlayPause('other')"
                                        data-bs-toggle="tooltip"
                                        
                                        [attr.data-bs-title]="tooltips.TOOLTIP_RESUME"   
                                    ></i>
                                    <i  *ngIf="this.showButtons"
                                        class="fa-solid fa-stop cursor"
                                        (click)="playTrack('other')"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        [attr.data-bs-title]="tooltips.TOOLTIP_STOP"
                                    ></i>
                                </div>
                                <span class="total-time">
                                    {{ 
                                        otherPlayer.selectedTrack?.duration == null ? 
                                        ('SONG_DURATION' | translate) : 
                                        otherPlayer.selectedTrack?.duration
                                    }}
                                </span>
                            </div>
                            <div class="nombre-cancion text-center" *ngIf="otherPlayer.playing">
                                {{ "CURRENT_SONG" | translate }} <i class="fa-solid fa-arrow-right ps-2 pe-2"></i> 
                                {{ otherPlayer.selectedTrack?.title }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Songs List -->
                <div 
                    class="container-track-list p-2"
                    [ngClass]="{ 'expanded': otherPlayer.expandContainer }"
                >
                    <div class="scrollable-content">
                        <ul class="track-list">
                            <li
                                *ngFor="let track of otherTrack; let i = index"
                                class="track"
                                (click)="playTrack('other', track)"
                                [ngClass]="{'active': otherPlayer.selectedTrack === track}"
                            >
                                <span class="track-number">{{ i + 1 }}</span>
                                <div class="track-info">
                                    <p class="track-title">{{ track.title }}</p>
                                </div>
                                <span class="track-duration">
                                    {{ track.duration || ('LOADING_SONG' | translate) }}
                                </span>
                                <span 
                                    class="download mt-1"
                                    (click)="downloadTrack(track)"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    [attr.data-bs-title]="tooltips.TOOLTIP_DOWNLOAD"
                                >
                                    <i class="fa-solid fa-download"></i>
                                </span>

                                <!-- Dynamic container to show the track lyrics -->
                                <div *ngIf="otherPlayer.selectedTrack === track" class="lyrics-container">
                                    <p class="lyrics">{{ track.lyrics }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Copyright sign -->
                <div class="col-12 mt-1">
                    <p class="copyright">
                        <span class="sign">© </span> 
                        {{ "COPYRIGHT" | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>