:root {
    --golden: #E4CB86;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
}

footer {
    padding: 20px 0;
    text-align: center;
}
